USE [MovimentosManuaisQA]

GO

CREATE TABLE PRODUTO (
	COD_PRODUTO int NOT NULL identity,
	DES_PRODUTO varchar(50) NOT NULL,
	STA_STATUS bit NOT NULL default(1),
    CONSTRAINT PK_PRODUTO PRIMARY KEY (COD_PRODUTO)
)

GO

CREATE TABLE PRODUTO_COSIF (
	COD_COSIF int identity NOT NULL,
	COD_PRODUTO int NOT NULL,
	COD_CLASSIFICACAO varchar(15) NOT NULL,
	STA_STATUS bit NOT NULL default(1),
    CONSTRAINT PK_PRODUTO_COSIF PRIMARY KEY (COD_COSIF),
	CONSTRAINT FK_PRODUTO_COSIF_PRODUTO FOREIGN KEY (COD_PRODUTO) REFERENCES PRODUTO (COD_PRODUTO)
)
 
GO

CREATE TABLE MOVIMENTO_MANUAL(
    COD_MOVIMENTO_MANUAL INT NOT NULL IDENTITY,
	NUM_LANCAMENTO INT NOT NULL,
	DAT_MES INT NOT NULL,
	DAT_ANO INT NOT NULL,
	COD_PRODUTO INT NOT NULL,
	COD_COSIF INT NOT NULL,
	DES_DESCRICAO varchar(300) NOT NULL,
	DAT_MOVIMENTO smalldatetime NOT NULL,
	COD_USUARIO varchar(15) NOT NULL,
	VAL_VALOR numeric(18, 2) NOT NULL,
	CONSTRAINT PK_MOVIMENTO_MANUAL PRIMARY KEY (COD_MOVIMENTO_MANUAL),
	CONSTRAINT FK_MOVIMENTO_MANUAL_PRODUTO_COSIF FOREIGN KEY (COD_COSIF) REFERENCES PRODUTO_COSIF(COD_COSIF),
	CONSTRAINT FK_MOVIMENTO_MANUAL_PRODUTO FOREIGN KEY (COD_PRODUTO) REFERENCES PRODUTO(COD_PRODUTO)
)

GO

INSERT INTO PRODUTO (DES_PRODUTO, STA_STATUS) values ('Produto 01', 1)
INSERT INTO PRODUTO (DES_PRODUTO, STA_STATUS) values ('Produto 02', 1)
INSERT INTO PRODUTO (DES_PRODUTO, STA_STATUS) values ('Produto 03', 1)

GO


INSERT INTO produto_cosif (COD_PRODUTO, COD_CLASSIFICACAO, STA_STATUS) values (1, 'COSIF 01', 1)
INSERT INTO produto_cosif (COD_PRODUTO, COD_CLASSIFICACAO, STA_STATUS) values (1, 'COSIF 02', 1)
INSERT INTO produto_cosif (COD_PRODUTO, COD_CLASSIFICACAO, STA_STATUS) values (1, 'COSIF 03', 1)
